html {
    box-sizing: border-box;
}
body {
    background-color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    background-color: #b0b0b0;
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0 3;
    color: #399fd3;
}

nav li {
    display: inline-block;
    padding: 0 10;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #cf1b41;
}

main {
    display: flex;
    align-content: space-between;
}

header {
    background-color: #6d6e71;
}

header img {
    min-height: 100%;
    max-width: 100%;
}

article {
    flex: 2;
    text-align: center;
    border: black;
    border-width: 2px;
    border-radius: 8px;
}

footer {
    background-color: #b0b0b0;
}

footer img {
    max-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

footer p {
    padding-top: 5px;
    padding-bottom: 5px;
}